a, b, span, div, select, img, p, table, tr, td, button, html, body, canvas, ul, li{
    padding: 0;
    margin: 0;
}
html, body{
    font-family: var(--code-font);
    font-size: var(--s);
    width: 100%;
    height: 100%;
}
:root{
    --s: 16px;
    --write-font: "write-font";
    --code-font: "code-font";
    --ico-font: "ico-font";
}

*::selection{
    background: rgb(192, 255, 204);
    color: black;
}
button{
    cursor: pointer;
}
button:disabled{
    background: rgb(136, 136, 136);
    color: white;
}
input, textarea{
    font-size: 1rem;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"]{
    -moz-appearance: textfield;
}
input[type='range']{
    -webkit-appearance: none;
    background: rgb(255, 103, 103);
    background: linear-gradient(to right, rgba(30, 0, 255, 0.28), rgba(152, 0, 255, 0.69));
    border-radius: 0.5rem;
    height: 0.8rem;
    outline: none;
    width: 40%;
    cursor: pointer;
}
input[type='range']:disabled{
    background: gray;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1.2rem;
    width: 1.2rem;
    background: rgb(255, 255, 255);
    border-radius: 50%;
    border: 0.2rem solid rgb(54, 114, 255);
}
/* checkbox */
.toggle-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.toggle-wrapper div{
    width: 3.6rem;
    height: 1.8rem;
    background: gray;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    transition: all .1s linear;
    position: relative;
    margin: 0 0.5rem;
}
.toggle-wrapper[data-checked] div{
    background: rgb(36, 84, 255);
    box-shadow: 0 0 0.6rem 0.05rem rgb(0, 149, 255) inset;
}
.toggle-wrapper div b{
    width: 1.4rem;
    height: 1.4rem;
    background: white;
    border-radius: 50%;
    position: absolute;
    left: 0.2rem;
    transition: left .2s cubic-bezier(0, 0, 0.44, 1.01);
}
.toggle-wrapper[data-checked] div b{
    left: calc(100% - 1.6rem);
}
textarea{
    resize: none;
    border-radius: 0.4rem;
}
::-webkit-scrollbar{
    width: 0.6rem;
    height: 0.6rem;
}
::-webkit-scrollbar-corner,
::-webkit-scrollbar-button{
    display: none;
}
::-webkit-scrollbar-thumb{
    border-radius: 0.6rem;
    background: repeating-linear-gradient(45deg, rgb(255, 130, 0), rgb(255, 130, 0) 1rem, rgb(255, 206, 27) 1rem, rgb(255, 206, 27) 2rem);
}
::-webkit-scrollbar-track{
    border-radius: 0.6rem;
    background: transparent;
}

/* GO 按钮 */
button.ico-submit{
    font-family: var(--ico-font);
    font-size: 2rem;
    color: rgb(14, 14, 14);
    background: transparent;
    border: none;
    transition: color .1s linear, transform .1s linear, box-shadow .1s linear;
}
button.ico-submit:disabled{
    color: rgb(130, 130, 130);
}
button.ico-submit:enabled:hover{
    box-shadow: none;
    color: rgb(151, 255, 236);
    transform: scale(1.12);
}
button.ico-submit.ico-submit-b:enabled:hover{
    color: rgb(159, 16, 255);
}
button.ico-submit:before{
    content: var(--ico-go);
}

/* 小表情 */
.lazy-img:not([data-l]){
    object-fit: none !important;
    width: unset !important;
    height: unset !important;
}
.cmtrich-stk-al, .cmtrich-stk-xrt, .cmtrich-stk-ka{
    margin: 0 0.7rem !important;
    width: 1.5rem !important;
    transform: scale(1.6);
}
.cmtrich-a{
    color: rgb(255, 26, 26) !important;
    font-size: 1.2em !important;
    margin: 0 0.3rem !important;
}
.cmtrich-img{
    max-width: 100% !important;
    margin: 0.5rem 0;
}


@media screen and (max-width: 1200px) and (min-height: 900px){
    :root{
        --s: 36px;
    }
    ::-webkit-scrollbar{
        width: unset;
        height: unset;
    }
    ::-webkit-scrollbar-corner,
    ::-webkit-scrollbar-button{
        display: unset;
    }
    ::-webkit-scrollbar-thumb{
        border-radius: unset;
        background: unset;
    }
    ::-webkit-scrollbar-thumb:hover{
        background: unset;
    }
    ::-webkit-scrollbar-thumb:active{
        background: unset;
    }
    ::-webkit-scrollbar-track{
        border-radius: unset;
        background: unset;
    }
    ::-webkit-scrollbar-track:hover{
        background: unset;
    }
}